*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.about{
    padding: 50px 100px;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about .container{
    position: relative;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.about-title{
    font-size: 34px;
    text-align: center;
    font-weight: 700;
    color: #444;
}
.title-text{
    font-size: 20px;
    text-align: center;
    margin: 10px 0px 60px;
}
.about-content{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-content .image-card{
    width: 49%;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.about-content .image-card img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-content .tab-container{
    width: 49%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid red;
}
.tab-header{
    display: flex;
    align-items: center;
}
.tab-header .btn{
    flex: 1;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border: 0;
    outline: none;
    background: #ccc;
    cursor: pointer;
    transition: all .5s ease;
    text-transform: capitalize;
}
.tab-header .btn:hover{
    background: #888;
}
.tab-header .btn.active{
    background: #fff;
}
.tab-content{
    padding: 20px;
}
.content{
    display: none;
}
.content.active{
    display: block;
}

@media (max-width: 640px) {    
    .about-content .image-card {
        width: 100%;
        margin-bottom: 20px;
    }
    .about-content .tab-container {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .about {
        padding: 50px;
    }
}